%h1 Gastos por programa

%table#pge.display
	%thead
		%tr
			%th Programa
			-@years.each do |year|
				%th #{year}
			%th %
		
	%tbody
		-@programmes.each do |heading, p|
			%tr{:class => p[:is_internal_transfer] ? "internalTransfer" : ""}
				%td
					%a{:href=>"/programme/#{p[:programme]}"} #{heading} #{p[:description]} 
				-@years.each do |year|
					%td.right #{p[:expenses][year]}
				%td.right #{p[:delta]}
					
	%tfooter
		%tr
			%td Total Consolidado (excluye transferencias internas)
			-@years.each do |year|
				%td.right #{@totals[year]}
			%td.right #{@totals[:delta]}

Todas las cantidades en miles de euros.