%h1 Gastos por programa
%h2 #{@section.description}
%h3 #{@entity.description}

%table#pge.display
	%thead
		%tr
			%th Entidad
			%th Gasto ('000)
	%tbody
		-@programmes.each do |e|
			%tr
				%td
					%a{:href=>"/section/#{e.section}/entity/#{e.entity_id}/programme/#{e.programme}"} #{e.programme} #{e.description}
				%td.right #{e.amount.to_i} €
