%h1 Gastos por programa
%h2 #{@section.description}
%h3 #{@entity.description}

%table#pge.display
	%thead
		%tr
			%th Descripción
			-@years.each do |year|
				%th #{year}
			%th %
			
	%tbody
		-@programmes.each do |heading, e|
			%tr{:class => e[:is_internal_transfer] ? "internalTransfer" : ""}
				%td
					%a{:href=>"/section/#{e[:section_id]}/entity/#{e[:entity_id]}/programme/#{e[:programme]}"} #{e[:programme]} #{heading}
				-@years.each do |year|
					%td.right #{e[:expenses][year]}
				%td.right #{e[:delta]}

	%tfooter
		%tr
			%td Total Consolidado (excluye transferencias internas)
			-@years.each do |year|
				%td.right #{@totals[year]}
			%td.right #{@totals[:delta]}

Todas las cantidades en miles de euros.