%h1 Desglose por conceptos

-if not @entity.nil? and not @section.nil?
	%h2 #{@section.description}
	%h3 #{@entity.description}
	%h4 #{@programme_name}
-else
	%h2 #{@programme_name}

:css
	tr.row_level_1 .heading { font-weight: bold;}
	tr.row_level_2 .heading { padding-left: 20px;}
	tr.row_level_3 .heading { padding-left: 30px;}
	tr.row_level_5 .heading { padding-left: 40px;}
	
%table#pge.display
	%thead
		%tr
			%th Descripción
			-@years.each do |year|
				%th{:class => "year#{year}"} #{year}
			%th %

	%tbody
		-@expenses.each do |heading, e|
			%tr{:class => e[:parent_concept].nil? ? |
									"expense row_level_1" :		 |
									"expense parent#{e[:parent_concept]} row_level_#{e[:concept].length}" } |
				%td{:class=>"heading"}
					#{heading} 
					-if e[:concept].length < 5
						%a{:href=>"#", :onclick=>"toggleCategory(#{e[:concept]}); return false"} +
				-@years.each do |year|
					%td.right{:class => "year#{year}"} #{e[:expenses][year]}
				%td.right #{e[:delta]}
				
	%tfooter
		%tr
			%td Total
			-@years.each do |year|
				%td.right{:class => "year#{year}"} #{@totals[year]}
			%td.right #{@totals[:delta]}

%p	Todas las cantidades en miles de euros.

%p 
	Mostrar/ocultar año: 
	-@years.each do |year|
		%a{:href=>"#", :onclick=>"toggleYear(#{year}); return false"} #{year}

%p
	%a{:href=>"#", :onclick=>"hideChildRows(); return false"} Ocultar subconceptos