%h1 Desglose por conceptos

-if not @entity.nil? and not @section.nil?
	%h2 #{@section.description}
	%h3 #{@entity.description}
	%h4 #{@programme_name}
-else
	%h2 #{@programme_name}

%table#pge.display
	%thead
		%tr
			%th Descripción
			-@years.each do |year|
				%th{:class => "year#{year}"} #{year}
			%th %

	%tbody
		-@expenses.each do |heading, e|
			%tr{:class => ("child_row cat#{e[:parent_concept]}" unless e[:parent_concept].nil?)}
				%td 
					#{heading} 
					%a{:href=>"#", :onclick=>"toggleCategory(#{e[:concept]}); return false"} +
				-@years.each do |year|
					%td.right{:class => "year#{year}"} #{e[:expenses][year]}
				%td.right #{e[:delta]}
				
	%tfooter
		%tr
			%td Total
			-@years.each do |year|
				%td.right{:class => "year#{year}"} #{@totals[year]}
			%td.right #{@totals[:delta]}

%p	Todas las cantidades en miles de euros.

%p 
	Mostrar/ocultar año: 
	-@years.each do |year|
		%a{:href=>"#", :onclick=>"toggleYear(#{year}); return false"} #{year}

%p
	%a{:href=>"#", :onclick=>"hideChildRows(); return false"} Ocultar subconceptos