%h1 Desglose por conceptos

-if not @entity.nil? and not @section.nil?
	%h2 #{@section.description}
	%h3 #{@entity.description}
	%h4 #{@programme_name}
-else
	%h2 #{@programme_name}

%table#pge.display
	%thead
		%tr
			%th Descripción
			-@years.each do |year|
				%th #{year}
			%th %

	%tbody
		-@expenses.each do |heading, e|
			%tr
				%td #{heading}
				-@years.each do |year|
					%td.right #{e[:expenses][year]}
				%td.right #{e[:delta]}
				
	%tfooter
		%tr
			%td Total
			-@years.each do |year|
				%td.right #{@totals[year]}
			%td.right #{@totals[:delta]}

Todas las cantidades en miles de euros.