%h1 Gastos por entidad
%h2 #{@section.description}

%table#pge.display
	%thead
		%tr
			%th Entidad
			-@years.each do |year|
				%th #{year}
			%th %
				
	%tbody
		-@entities.each do |heading, e|
			%tr
				%td
					%a{:href=>"/section/#{e[:section_id]}/entity/#{e[:entity_id]}"} #{heading}
				-@years.each do |year|
					%td.right #{e[:expenses][year]}
				%td.right #{e[:delta]}

	%tfooter
		%tr
			%td Total
			-@years.each do |year|
				%td.right #{@totals[year]}
			%td.right #{@totals[:delta]}
								
Todas las cantidades en miles de euros.