%h1 Gastos por entidad
%h2 #{@section.description}

%table#pge.display
	%thead
		%tr
			%th Entidad
			%th Gasto ('000 €)
	%tbody
		-@entities.each do |e|
			%tr
				%td
					%a{:href=>"/section/#{e.section}/entity/#{e.entity_id}"} #{e.description}
				%td.right #{e.amount.to_i}
